{% macro header_chip(title_text) %}
<div class="header-container">
  <div class="header-chip">
    <object type="image/svg+xml" data="{{ url_for('static', filename='header/header.svg') }}" class="header-icon" aria-label="OSM &amp; ATLAS Logo"></object>
    <span class="header-title">{{ title_text }}</span>
  </div>
</div>
{% endmacro %}

{% macro stats_overlay() %}
<div id="headerSummaryInfo" class="header-summary">
  <div id="headerSummaryStats"></div>
  <div class="header-summary__filters-row">
    <button type="button" id="headerSummaryFiltersToggle" class="header-summary__filters-toggle" aria-expanded="false">
      <span id="headerSummaryFiltersLabel">Filters: None (All entries)</span>
      <i class="fas fa-chevron-down header-summary__filters-toggle-icon d-none" aria-hidden="true"></i>
    </button>
    <a href="#" id="clearAllFilters" class="header-summary__clear-all d-none">Clear all</a>
  </div>
  <div id="headerSummaryFiltersPanel" class="header-summary__filters-panel d-none">
    <div id="activeFilters" class="d-flex flex-wrap align-items-center"></div>
  </div>
</div>
{% endmacro %}


