{# Stable shared map asset order. Page-only controllers stay explicit. #}
<script src="{{ url_for('static', filename='vendor/leaflet/leaflet.js') }}"></script>
<script src="{{ url_for('static', filename='js/shared/constants.js') }}"></script>
<script src="{{ url_for('static', filename='js/shared/utils.js') }}"></script>
<script src="{{ url_for('static', filename='js/components/mobile-filters.js') }}"></script>
<script src="{{ url_for('static', filename='js/components/header-summary.js') }}"></script>
<script src="{{ url_for('static', filename='js/components/map-shared.js') }}"></script>
<script src="{{ url_for('static', filename='js/components/filter-chip-utils.js') }}"></script>
<script src="{{ url_for('static', filename='js/components/popup-utils.js') }}"></script>
<script src="{{ url_for('static', filename='js/components/popup-renderer.js') }}"></script>
<script src="{{ url_for('static', filename='js/components/move_popup.js') }}"></script>
<script src="{{ url_for('static', filename='js/components/map-renderer.js') }}"></script>
<script src="{{ url_for('static', filename='js/components/map-core.js') }}"></script>
<script src="{{ url_for('static', filename='js/components/map-popup-controller.js') }}"></script>
<script src="{{ url_for('static', filename='js/components/line-renderer.js') }}"></script>
<script src="{{ url_for('static', filename='js/components/operator-dropdown.js') }}"></script>
